@font-face {
  font-family: "ChristopherDone";
  src: url("fonts/ChristopherDone.eot"); /* IE9 Compat Modes */
  src: url("fonts/ChristopherDone.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/ChristopherDone.otf") format("opentype"), /* Open Type Font */
    url("fonts/ChristopherDone.svg") format("svg"), /* Legacy iOS */
    url("fonts/ChristopherDone.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/ChristopherDone.woff") format("woff"), /* Modern Browsers */
    url("fonts/ChristopherDone.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
#top
{
    border: 1px solid black;
    height: 70px;
    width: 101%;
    background-color: black;
    padding: 5px;
    margin-left: -8px;
    margin-top: -8px;
    position: fixed;
   
}
#name
{
    border: 1px solid black;
    height: 70px;
    width: 50%;
    margin: auto;
    font-family: ChristopherDone;
    color: white;
    
    
}
#nameSpace
{
    font-size: 35px;
    text-align: center;
    line-height: 1.5
}
#roles
{
    border: 1px solid black;;
    height: 20px;
    width: 100%;
    text-align: center;
}
#menu
{
    border: 1px solid #ffffff;
    height: 35px;
    margin-left: -8px;
    margin-top: 0px;
    width: 101%;
    padding: 5px;
    background: #ffffff;
    position: fixed;
    
}
#navigation
{
    border: 1px solid #ffffff;
    height: 30px;
    width: 50%;
    padding 5px;
    position: relative;
    margin: auto;
    font-family: ChristopherDone;
    line-height: 2;
}
#nav-links
{
    border: 1px solid #ffffff;
    width: 635px;
    margin: auto;
}
#contact
{
    border: 1px solid #ffffff;
    height: 30px;
    width: 125px;
    position: relative;
    text-align: center;
}
#portfolio
{
    border: 1px solid #ffffff;
    height: 30px;
    width: 125px;
    position: relative;
    margin-left: 125px;
    margin-top: -32px;
    text-align: center;
}
#tutorials
{
    border: 1px solid #ffffff;
    height: 30px;
    width: 125px;
    position: relative;
    margin-left: 252px;
    margin-top: -32px;
    text-align: center;
}
#blog
{
    border: 1px solid #ffffff;
    height: 30px;
    width: 125px;
    position: relative;
    margin-left: 380px;
    margin-top: -32px;
    text-align: center;
}
#game-jams
{
    border: 1px solid #ffffff;
    height: 30px;
    width: 125px;
    position: relative;
    margin-left: 508px;
    margin-top: -32px;
    text-align: center;
}
#mainBody
{
    position: absolute;
    border: 1px solid #eaeaea;
    height: 500px;
    width: 100%;
    margin-top: 115px;
    margin-left: -8px; 
    background-color: #eaeaea;
}
#video
{
    border: 1px solid black;
    height: 350px;
    width: 101%;
    margin-left: -8px;
}
#sectionHeader
{
    border: 1px solid #eaeaea;
    height: 75px;
    width: 101%;
    margin-left: -8px;
}
#title
{
    border: 1px solid #eaeaea;
    width: 50%;
    margin: auto;
    height: 70px;
    font-family: ChristopherDone;
    text-align: center;
    font-size: 30pt;
    line-height: 2.3;
}
#lineSeperator
{
    height: 1px;
    width: 50%;
    margin: auto;
    background: black;
    border: 1px solid black;
}
#personalProjects
{
    border: 1px solid black;
    height: 300px;
    
}