@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/Index.css" type="text/css" />

<div id="mainContent" style="border: 1px solid purple;">
    <div class="pageTitle">Home</div>
    <div class="text-center" style="width: 100%; margin-top: 30px;">
        <h4>Welcome to Lab Bench&trade;</h4>
    </div>
</div>


