@page
@model LabBench.Pages.SampleLoginModel
@{
    ViewData["Title"] = "Sample Login";
}

<link rel="stylesheet" type="text/css" href="~/css/SampleLogin.css" />

<div id="mainContent" style="border: 1px solid purple;">
    <div class="text-center" style="width: 100%; margin-top: 30px;">
        <h4>Sample Login Page</h4>
    </div>
</div>